// This is where you can import other stylesheets or write your scss code
@import "./variables";
@import "./hero";
@import "../../node_modules/bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: rgb(243, 181, 255);
}

.skew-hero {
  background: #e9e3ff;
  padding: 100px 0;
  transform: skew(0deg, 6deg) translateY(-135px);
  border-bottom: 15px solid #af99ff;
}
.hero-container {
  padding: 120px 200px;
  transform: skew(0deg, -6deg);
  text-align: center;
  margin-top: 50px;
}
.card-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  width: 400px;
  border-radius: 10px 10px 10px 10px;
}

/* ------- font-sizes---------- */
h1 {
  margin: 0;
  font-size: 3.2rem;
  font-weight: bold;
  padding: 0 0 21px 32px;
}
h2 {
  font-size: 1.8rem;
  font-weight: normal;
}
h3 {
  font-size: 4.2rem;
  font-weight: bold;
  align-self: flex-end;
  margin: 0;
}
h4 {
  font-size: 1.6rem;
  font-weight: normal;
}
h5 {
  font-size: 4.2rem;
  font-weight: bold;
  padding-bottom: 40px;
}
h6 {
  font-size: 3.2rem;
  font-weight: normal;
}
p {
  font-size: 1.4rem;
  font-weight: normal;
}
.change-font {
  font-weight: bolder;
  color: #ffffff;
  padding: 4px 12px;
  line-height: 1.19;
}
.enrolled-students {
  font-weight: bolder;
}
/* ------------------------------ */

/* --------body of the card------------ */
.card-main {
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 244px;
  position: relative;
}
.main-text {
  padding: 20px 32px 15px 32px;
}
.created-by {
  padding-left: 32px;
}

.pricing {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin: 0 32px 9px 0;
  position: absolute;
  bottom: 0;
  right: 0;
}
.old-price {
  font-weight: lighter;
  color: #cacaca;
  text-decoration-line: line-through;
}

.single-pricing {
  margin: 0 32px 9px 0;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* ------------------- */
/* ----------footer of the card---------- */
.card-bottom {
  display: flex;
  justify-content: space-around;
  padding: 18px 32px;
  border-radius: 0 0 10px 10px;
}
.splitter {
  position: relative;
}
.card-bottom p {
  flex-basis: 50%;
  margin: 0;
}

.splitter::after {
  width: 0;
  height: 100%;
  content: "";
  border: 1px solid #555555;
  position: absolute;
  right: 0;
  margin-right: 15px;
}
